.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f2f2f2;
    padding: 20px 10px;
}

.nav-list{
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-list li{
    padding: 0 20px;
}

.nav-list li a,.logo{
    text-decoration: none;
}