.form-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #2193b0, #6dd5ed);
}


.form-container h1 {
  margin-bottom: 20px;
  border-bottom: 1px solid black;
  font-weight: 700;
  letter-spacing: 2px;
  width: 30%;
  text-align: center;
}

.form-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  height: 500px;
  width: 500px;
  background-color: rgba(255, 255, 255, 0.219);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.form-container form input {
  width: 80%;
  padding: 10px 20px;
  margin: 20px 0;
  outline: none;
  border: 1px solid #90b4f7;
  border-radius: 10px;
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0.219);
  color: #000;
  font-weight: 700;

}

.form-container form button {
  width: 30%;
  padding: 10px 0;
  margin-top: 20px;
  text-transform: capitalize;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  background: linear-gradient(to right, #489db3, #1b95b1);
  font-weight: 700;
  letter-spacing: 1.5px;
}
