<!-- (ngSubmit)="loginUser()" -->
<div class="form-container">
  <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
    <h1>Login..</h1>
    <input
      type="text"
      name="user"
      placeholder="Enter Name"
      autocomplete="off"
      formControlName="user"
    />
    <span class="errmsg" *ngIf="user && user.invalid && user.touched"
      >Empty field is not valid</span
    >
    <input
      type="password"
      name="password"
      placeholder="Enter Password"
      autocomplete="off"
      formControlName="password"
    />
    <span class="errmsg" *ngIf="password && password.invalid && password.touched"
      >Empty field is not valid</span
    >
    <button [disabled]="loginForm.invalid">Login</button>
  </form>
</div>
