button{
    padding: 5px 10px;
    font-size: 20px;
    box-shadow: none;
    color: #000;
    border-radius: 5px;
    border: 1px solid black;
}

.btn-container{
    display: flex;
    align-items: center;
}

.btn-container h1{
    padding: 0 20px;
}